.header {
  
  border-bottom: 0.2rem solid #ffffff;

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Title {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-800);
    font-family: var(--font-primary);
  }

  .projectButton {
    background-color: var(--gray-200);
    border: none;
    border-radius: 1.2rem;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-800);
    margin-left: 7.3rem;
    padding: 0.2rem 0.8rem;
    font-family: var(--font-primary);

    &:focus {
      box-shadow: none;
    }
  }

  .buttonContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
  }

.projectButton {
  padding: 0.5rem 1rem;
}
}