.card {
  background: var(--surface-overlay);
  border-radius: 8px;
  cursor: grab;
  padding: 4px 12px;


  &:active {
    cursor: grabbing;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h3{
    margin: 0;
    font: var(--text-14-medium);
  }

  i{
    margin-right: 8px;
  }

  .cardName{
    display: flex;
    align-items: center;
  }

  .checkedIcon {
    color: #22C55E; // Зеленый цвет для иконки
  }
}
