.column {
  background: var(--surface-card);
  border-radius: 8px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;

  h2 {
    margin-top: 0;
    padding-bottom: 0.5rem;
  }

  .cardsList {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     margin-top: 1rem;
   }

  .emptyColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: #888;
    border: 2px dashed #ccc;
    border-radius: 8px;
  }

  .emptyColumnText {
    user-select: none; // Запрет выделения текста
    -webkit-user-select: none; // Для Safari
    -moz-user-select: none; // Для Firefox
    -ms-user-select: none; // Для IE/Edge
    pointer-events: none; // Запрет всех взаимодействий
    cursor: default; // Убираем курсор-указатель
  }

  .columnTitle {
    user-select: none; // Запрет выделения текста
    -webkit-user-select: none; // Для Safari
    -moz-user-select: none; // Для Firefox
    -ms-user-select: none; // Для IE/Edge
    pointer-events: none; // Запрет всех взаимодействий
    cursor: default; // Убираем курсор-указатель
  }
}

