:root {
  transition: all 1.0s ease;
}

.navigationPanel {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 8px;
  justify-content: space-between;
}

.menuContainer {
  flex: 1;
  overflow-y: auto;
}

.menu {
  border: none;
  background: transparent;
}

.themeToggle {
  margin: 50px auto 0;
}

.themeButton {
  background: var(--text-color);
  border: none;
  box-shadow: none;
}