:root {
    --column-color-1: #00E8F0;
    --column-color-2: #266FFF;
    --column-color-3: #9933FF;
    --column-color-4: #A8F000;
    --column-color-5: #A9DB8B;
    --column-color-6: #EB28AE;
    --column-color-7: #EF3124;
    --column-color-8: #FA9319;
    --column-color-9: #FFE865;
}