.descriptionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 500;
}

.editDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editDescriptionArea{
  box-shadow: none;
  border-color: var(--text-color);
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.tabContent {
  padding: 1rem 0;
}

.btn{
  color: var(--text-color);
  background: var(--surface-ground);
  border: none;
}

.editBtn{
  color: var(--text-color);
}