.taskPanel {
  margin-bottom: 1.5rem;
  border-radius: 0.4rem !important;
  background-color: #CCCCCC !important; 
}

.panelHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.sectionTitle {
  flex-grow: 1;
  font-size: 1.125rem;
  font-weight: 500;
}

.taskCount {
  background-color: #000000;
  color: white;
  border-radius: 50%;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  margin-right: 0.75rem;
}

.taskList {
  padding: 0;
  margin: 0;
  list-style: none;
}