.taskPanel {
  margin-bottom: 2rem;
  background: var(--surface-ground);; 
}

.panelHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.sectionTitle {
  flex-grow: 1;
  font: var(--text-22-bold);
  color: var(--grey-800);
}

.taskCount {
  background-color: var(--surface-900);
  color: var(--surface-100);
  border-radius: 50%;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.taskList {
  padding: 0;
  margin: 0;
  list-style: none;
}