header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px;
  margin: 0;

  p{
    margin: 0;
  }

  .left, .right {
    font: var(--text-22-bold);
    user-select: none; // Запрет выделения текста
    -webkit-user-select: none; // Для Safari
    -moz-user-select: none; // Для Firefox
    -ms-user-select: none; // Для IE/Edge
    //pointer-events: none; // Запрет всех взаимодействий
    cursor: pointer; // Убираем курсор-указатель
  }

  .right{
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

